@import url('whitespace-reset.css');

body {
	color: #fff;
	line-height: 24px;
	text-align: left;
	font: lighter 16px Helvetica, Arial, sans-serif;
}

/*
==========================
			  Nav Styles
==========================
*/

nav {
	position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 315px;
	background-color: #464f77;
	box-sizing: border-box;
}

nav section {
	padding-top: 75px;
}

nav img {
	position: absolute;
	left: 105px;
}

nav section > h2 {
	font-weight: lighter;
	letter-spacing: 1px;
	margin-top: 6px;
	padding: 0 0 30px 140px;
}

nav section > a, 
nav section ul li > a{
	color: #a5a7bd;
	display: block;
	text-decoration: none;
}

dl, 
nav ul li a  {
	font-size: 14px;
	padding: 12px 0;
	text-align: center;
}

nav dt, 
nav dd {
	display: inline-block;
}

dd, 
h2 span.todos-total {
  width: 14px;
  height: 15px;
  font-size: 14px;
  margin-top: -2px;
  background-color: #6c7094;
}

dd {
	position: absolute;
  right: 30px;
  padding: 2px;
  border-radius: 50%;
}

h2 span.todos-total {
	color: #a5a7bd;
	margin-left: 45px;
	border-radius: 9px;
	padding: 1px 3px;
}

dd.selected, 
h2 span.todos-total {
	background-color: #6c7094;
}

nav li {
	text-decoration: line-through;
}

dl:hover, 
nav li a:hover, 
dl.selected {
	color: #fff;
  background-color: #373a60;
}

dl:hover > dd, 
dl.selected > dd {
	background-color: #148fd5
}