@import url('whitespace-reset.css');

/*
==========================
			Global Styles
==========================
*/

body {
	line-height: 24px;
	text-align: left;
	color: #060606;
	font: lighter 16px Helvetica, Arial, sans-serif;
}

h2 {
	font-size: 18px;
	font-weight: lighter;
	letter-spacing: 1px;
}

input[id="menu-toggle"], 
label[for="menu-toggle"] {
	visibility: hidden;
	color: #464f77;
}

.container {
	position: relative;
}

/*
==========================
			  Nav Styles
==========================
*/

nav {
	position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 315px;
	background-color: #464f77;
	box-sizing: border-box;
}

nav section:first-of-type {
	padding-top: 65px;
}

/*nav section:last-of-type {
	padding: 45px 0 100%;
}*/

nav img {
	position: absolute;
	left: 105px;
}

nav section > h2 {
	color: #fff;
	margin-top: 3px;
	padding: 0 0 15px 140px;
}

nav section > a, 
nav section ul li > a {
	color: #a5a7bd;
	display: block;
	text-decoration: none;
}

nav dl, 
nav ul li a  {
	padding: 10px 0;
	text-align: center;
}

nav dt, 
nav dd {
	display: inline-block;
}

nav dd, 
h2 span.todos-total {
  width: 14px;
  height: 15px;
  font-size: 14px;
  background-color: #6c7094;
}

nav dd {
	position: absolute;
  right: 30px;
  padding: 2px;
  border-radius: 50%;
  margin-top: -1px;
}

h2 span.todos-total {
	color: #a5a7bd;
	margin: -5px 0 0 36px;
	border-radius: 9px;
	padding: 1px 3px;
}

nav dd.selected, 
h2 span.todos-total {
	background-color: #6c7094;
}

nav li {
	text-decoration: line-through;
}

nav dl:hover, 
nav li a:hover, 
nav dl.selected {
	color: #fff;
  background-color: #383f5f;
}

nav dl:hover > dd, 
dl.selected > dd {
	background-color: #148fd5;
}

/*
==========================
		 	 Main Styles
==========================
*/

main {
	background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0; 
  left: 315px;
  padding: 70px 50px 100%;
  min-width: 160px;

  -moz-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

main header > h2 {
	color: #050505;
	font-size: 21px;
}

main header > h2 span.todos-total {
	position: absolute;
	top: 72px;
	color: #fff;
	text-align: center;
	margin: 0 0 0 18px;
	padding: 1px 1.5px 2px 1.5px;
	border-radius: 50%;
	background-color: #148fd5;
} 

h3 {
	color: #53ade0;;
	line-height: 22px;
	margin: 35px 0 10px 0;
	font-weight: lighter;
	cursor: pointer;
}

/*
==========================
		   Form Styles
==========================
*/

form {
	width: 575px;
	height: 400px;	
}

fieldset {
	display: block;
	box-sizing: border-box;
}

form dt, 
form dd {
	display: inline-block;
	vertical-align: top;
}

form dt {
	color: #2c2c2c;
	font-style: 16px;
	padding-top: 30px;
	width: 110px;
	font-weight: 400;
	letter-spacing: 1px;
}

form dd {
	font-size: 16px;
	padding-top: 25px;
}

label[for="description"] {
	margin-top: -20px;
}

input[type="text"] {
	width: 395px;
	height: 36px;
}

select {
	height: 36px;
	width: 115px;
	display: inline-block;
	background-color: #fff;
	background: url('assets/img/select-arrows.png') right no-repeat;
	background-size: 20px;
	cursor: pointer;	

	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

.datesep {
	color: #2c2c2c;
	margin: 0 6.5px;
}

textarea {
	width: 395px;
	height: 140px;
	resize: none;
	color: #757575;
	letter-spacing: 1px;
}

input[type="text"],
textarea, 
form select {
	font-style: 16px;
	color: #2c2c2c;
	padding: 10px;
	border: 1px solid #b3b3b3;
	box-sizing: border-box;
	font: normal 14px Helvetica, Arial, sans-serif;
}

form select[id="month"], 
form select[id="year"] {
	color: #a1a1a1;
}

input[name="save"] {
	margin: 24px 13px 0 115px;
}

input[name="save"], 
input[name="complete"] {
  color: #fff;
  width: 182px;
  height: 36px;
  border-radius: 4px;
  font-size: 16px;
	background-color: #148fd5;
  border: none;
  cursor: pointer;
}

input[name="save"]:hover, 
input[name="complete"]:hover {
	color: #fff;
	background: #2b9ad9;
}

/*
==========================
		  Modal Styles
==========================
*/

.editToDo {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.editToDo:target {
    opacity:1;
    pointer-events: auto;
}
.editToDo > div {
    width: 575px;
    position: relative;
    margin: 10% auto;
    padding: 5px 0 5px 25px;
    background: #fff;
}
.close {
		color: #fff;
    line-height: 25px;
    text-align: center;
    background: #148fd5;
    font: Helvetica, Arial, sans-serif;
    position: absolute;
    top: -10px;
    right: -12px;
    width: 24px;
    text-decoration: none;

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.close:hover {
	color: #fff;
	background: #2b9ad9;
}

/*
==========================
		  Table Styles
==========================
*/

table {
  border-collapse: collapse; 
  max-width: 1200px;
}

td {
	padding: 12px 0;
}

table a {
	color: #060606;
	text-decoration: none;
}

td a:hover {
	color: #148fd5;;
}

td:nth-of-type(1) {
	width: 40px;
	min-width: 25px;
	padding-left: 15px;
} 

td:nth-of-type(2) {
	width: 960px;
}

td:nth-of-type(3) {
	width: 10px;
  max-width: 30%;
  padding-right: 15px;
}

tr {
	border-top: 1px solid #e7e7e7;
}

tr.checked {
	color: #b3b3b3;
	text-decoration: line-through;
}

tr.checked:hover {
	color: #b3b3b3;
	cursor: default;
}

tr:hover {
	color: #339edb;
	cursor: pointer;
}

/*
==========================
		 Hamburger Menu
==========================
*/

input[id="menu-toggle"] {
   display: none;
}

input[id="menu-toggle"]:checked ~ main { 
    left: 0;
}

input[id="menu-toggle"]:checked ~ label {
    left: 0;
}

label[for="menu-toggle"] {
	z-index: 4;
  position: absolute;
  top: 25px;
  left: 330px;
  cursor: pointer;
  margin: 0 0 0 35px;

  -moz-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

/*
==========================
			Media Queries
==========================
*/

@media screen and (max-width: 768px) {
	input[id="menu-toggle"], 
	label[for="menu-toggle"] {
		visibility: visible;
	}

	nav, main {
		overflow-y: scroll;
	}
}

@media screen and (max-width: 600px) {
	.editToDo > div {
    width: 300px;
    padding-left: 50px;
		}

	form {
		width: 300px;
		height: 600px;	
	}

	form dt, 
	form dd {
		display: block;
	}

	input[type="text"] {
		width: 245px;
	}

	select {
		width: 70px;
	}

	textarea {
		width: 300px;
	}

	.datesep {
		margin: 0 2px;
	}

	textarea {
		width: 245px;
	}

	input[name="save"], 
	input[name="complete"] {
	  margin: 20px auto 0;
	  width: 245px;
	}
}
